h1
{
color:#008000;
margin: 20px;
text-align:center;
    padding: 0px 90px 70px 20px;
}
img
{  
    padding: 10px 10px 10px 10px;
	float:left;
	width:20%
	
}
p
{
	color:#808000;
	font-size:15 px;
	width: 600px;
  margin: 0 auto;
  padding: 0px 90px 55px 80px;
}
html
{
	font-family: 'Supermercado One', cursive;
}
h2
{
	color:#FFA500;
	  padding: 0px 40px 35px 20px;
	
}
h3
{
	color:#FFA500;
	  padding: 0px 10px 10px 20px;
}
ul
{
	color:#008B8B;
	  padding: 10px 10px 50px 50px;
}
body
{
	 border: 5px solid black;
  padding: 50px 0px 0px 200px;
}